<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <button class="button button-block button-balanced" ng-click="calculatePositions()">Calculate Positions</button>
    <div class="list card">
      <div class="item item-divider">Smarties</div>
      <div class="item item-body">
        <div>
          <p>Time taken: {{timeTaken}}</p>
          <div id="myColor">{{currentColor}}</div>
          <canvas id="myCanvas" ng-click="clickOnSmartie($event)" width="1000" height="800"></canvas>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
